$primary: #2855F4;
$primaryDark: #092794;
$primaryLight: #8DA1E7;
$secondary: #6a8bff;
$light: #ffffff;
$dark: #000000;
$shadowDark: rgba(0, 0, 0, 0.7);
$shadowLight: rgba(255, 255, 255, 0.5);
$bg: #E7E9F2;
$bgLight: #F2F5FF;
$bgDark: #23252D;