@use 'colors' as c;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	max-width: 100svw;
	background-color: c.$bg;
	font-family: "Inter", sans-serif;
	color: c.$light;
	overflow-x: hidden;
}